<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOOC-System</title>
</head>

<body>
    <p>MOOC-System Server is up and running....!!! Worker is <%= clusterId %></p>
</body>

</html>